@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap");

/* VARIABLES */
:root {
	--dark-300: #222;
	--dark-400: #333;

	--primary-400: #19a559;

	--gradient: linear-gradient(
		180deg,
		rgba(126, 126, 126, 100%) 0%,
		rgba(51, 51, 51, 0) 100%
	);

	--text: #fff;
}

/* RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	background-color: var(--dark-400);
	color: var(--text);
	line-height: 1.4;
}

a {
	color: var(--text);
	text-decoration: none;
}

/* UTILIY */
.container {
	padding: 30px 25px;
}

.content-container {
	padding: 0 75px;
}

.btn {
	padding: 4px 1rem;
	background: none;
	border-radius: 5px;
	cursor: pointer;
}

.btn--primary {
	border: 3px solid var(--primary-400);
	color: var(--text);
}

.btn--primary:hover {
	background-color: var(--primary-400);
}

.transition {
	transition: all 250ms;
}

.raise:hover {
	transform: translateY(-5px);
}

.title {
	font-size: 48px;
	font-weight: normal;
	border-bottom: var(--primary-400) 2px solid;
	width: 40%;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}
/* STRUCTURE */
.nav {
	display: flex;
	align-items: center;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	width: 100%;
	padding: 30px 25px;
}

.nav__list {
	display: flex;
	gap: 2rem;
	list-style: none;
}

.nav__item {
	font-size: 24px;
	position: relative;
	display: inline-block;
	color: var(--text);
}

.nav__item::after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: var(--primary-400);
	transform-origin: bottom left;
	transition: all 250ms;
}

.nav__item:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.nav__btn {
	margin-left: auto;
	font-size: 24px;
}

.hero {
	height: 100vh;
	width: 99vw;
	position: relative;
	padding-left: 100px;
	left: -25px;
	top: -30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: var(--gradient);
}

.code {
	z-index: -100;
	position: absolute;
	left: -2rem;
	transform: rotate(20deg);
	width: 80%;
	filter: blur(35px);
}

.hero__title {
	font-size: 96px;
	line-height: 1em;
}

.hero__sub {
	font-size: 24px;
	margin-left: 0.25rem;
	font-style: italic;
}

.project {
	margin: 2rem 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
}

.img__container {
	position: relative;
	width: 70%;
}

.project__img {
	display: block;
	width: 100%;
	z-index: 0;
}

.img__overlay {
	position: absolute;
	inset: 0;
	background-color: var(--primary-400);
	opacity: 0.6;
	z-index: 1;
}

.img__overlay:hover {
	opacity: 0;
}

.project__info {
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: absolute;
	right: 0;
	z-index: 10;
}

.project__rule {
	border-bottom: var(--primary-400) 2px solid;
	height: 0;
	width: 50%;
}

.project__title {
	font-size: 40px;
	/* border-top: var(--primary-400) 2px solid; */
}

.project__tag {
	font-size: 16px;
	font-style: italic;
}

.project__card {
	background-color: var(--dark-300);
	font-size: 20px;
	padding: 15px 20px;
	margin: 1rem 0;
}

.project__tech {
	list-style: none;
	display: flex;
	gap: 1rem;
}

.project__links {
	display: flex;
	gap: 1rem;
	font-size: 30px;
	margin-top: 1rem;
}

