@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap");

/* VARIABLES */
:root {
	--dark-300: #222;
	--dark-400: #333;

	--primary-400: #19a559;

	--gradient: linear-gradient(
		180deg,
		rgba(140, 140, 140, 1) 0%,
		rgba(134, 134, 134, 0) 100%
	);

	--text: #fff;
}

/* RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	background-color: var(--dark-400);
	color: var(--text);
}

a {
	color: var(--text);
	text-decoration: none;
}

/* UTILIY */
.container {
	padding: 30px 25px;
}

.btn {
	padding: 4px 1rem;
	background: none;
	border-radius: 5px;
	cursor: pointer;
}

.btn--primary {
	border: 3px solid var(--primary-400);
	color: var(--text);
}

.btn--primary:hover {
	background-color: var(--primary-400);
}

.transition {
	transition: all 250ms;
}

.raise:hover {
	transform: translateY(-5px);
}

/* STRUCTURE */
.nav {
	display: flex;
	align-items: center;
	z-index: 10;
}

.nav__list {
	display: flex;
	gap: 2rem;
	list-style: none;
}

.nav__item {
	font-size: 24px;
}

.nav__item:hover {
	color: var(--primary-400);
}

.nav__btn {
	margin-left: auto;
	font-size: 24px;
}

